@media screen and (max-width:480px) {

    .pcver{
        display: none;
    }
    
    header{
        width:100%;
    }
    
    .header-left img{
        margin-left: 10px;
    }
    
    .header-left h3{
        font-size: 18px;
        border-bottom: 1px solid white;
    }
    .container{
        width: 100%;
    }

    .top-wrapper{
        width: 100%;
        height: 200px;
        border-top: none;
        background: url(https://github.com/yuuki106/azuki_toppage.github.io/blob/main/iphone-background.jpg?raw=true);
        background-size: cover;

    }
    
    .top-wrapper h1,h2{
        display: none;
    }
    .top-wrapper h3{
        letter-spacing: 1px;
        opacity: 1;
        font-size:20px;
        text-align: right;
        padding-right: 10px;
    }
    .top-wrapper h3 span{
        color:white;
        font-size: 30px;
    }

    .iphone-swich{
        display: inline-block;
        background-color: black;
    }
    .iphone-switchlist{
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        border: 3px solid black;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .iphone-switchlist li{
        width: 33.33%;
        height: 72px;
        border: 1px solid black;
    }


    .news-wrapper{
        text-align: center;
        width: 100%;
    }
     .news-wrapper a{
        font-size: 20px;
        width: 100%;
    }
    .news-wrapper h1{
        padding-bottom: 20px;
        padding-top: 20px;
        font-size: 20px;
    }
    .news h2{
        font-size: 15px;
    }
    .news a{
        font-size: 15px;
        padding-top: 4px;
    }

    .snsinfo{
        width: 100%;
    }
    .insta-icon{
        width: 100%;
    }

    footer{
        width: 100%;
    }
}
